.dropdown-menu.show {
	margin-top: 16px;
}
.dropdown-menu{
	min-width: 0;
}

.dropdown-item {
   cursor: pointer;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}
}